.vdi-download {
  left: 100px;
  width: $vdi-download-width;
  height: 100%;

  &.state-hide{
    top: $topbar-height;
    left: - ($vdi-download-width + 5);
  }

  &.state-show{
    top: $topbar-height;
    left: 0;
  }

  .content-wrapper {
    height: 90%;
  }
}
